{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <p>Сортировать по:
            <a href="/catalog?sort=name">названию</a> |
            <a href="/catalog?sort=min_price">начиная с дешевых</a> |
            <a href="/catalog?sort=max_price">начиная с дорогих</a>
            </p>
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for phone in phones %}
            <div style="margin-bottom: 10px; width: 45%; display: inline-block;">
                <h3><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h3>
                <p>Стоимость: {{ phone.price }}</p>
                <img src="{{ phone.image }}" width="200px">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}